<div class="col-lg-12">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <div class="jumbotron">
      <h1>House Mall</h1>
      <p>買い手と売り手を優しく繋ぐ不動産のおもてなしモール、それがハウスモール.</p>
      <p><a class="btn btn-primary btn-lg">さらに詳細に</a></p>
    </div>
  </div>
  <div class="col-lg-1"></div>
</div>
<div class="col-lg-12">
  <div class="col-lg-1"></div>
  <a href="/properties">
    <div class="col-lg-5">
      <div class="well" style="height: 180px; background-color: #dff0d8">
        <font size="10" color="#468847"><center>あなたは買い手?</br>[Click Here]</center></font>
      </div>
    </div>
  </a>
  <a href="/vendors/sign_in">
    <div class="col-lg-5">
      <div class="well" style="height: 180px; background-color: #d9edf7">
        <font size="10" color="#3a87ad"><center>あなたは売り手?</br>[Click Here]</center></font>
      </div>
    </div>
  </a>
  <div class="col-lg-1"></div>
</div>
