<div class="col-lg-12">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <h2>新しい物件情報を入力して下さい.</h2>

    <%= render 'form' %>

    <%= link_to '戻る', properties_path, :class => "btn btn-default" %>
  </div>
  <div class="col-lg-1"></div>
</div>
